.container{
    padding: 5em;
    margin-bottom: 3em;
    display: flex;
    gap: 4em;
    justify-content: center;
}

.hero{
    width: 100%;
    padding: 40px 0;
    position: relative;
    overflow: visible;
}

.hero .container{
    border-radius: 25px;
    display: flex;
    align-items: center;
    position: relative; 
    z-index: 1;
}

.hero-text{
    margin-bottom: 3em;
    margin-left: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2em;
    flex: 0 1 50%;
}

.hero-text h1 {
    font-size: clamp(6rem, 2.6vw, 8rem);
    line-height: 1.02;
    color: #e5391e;
}
.hero-text p{
    font-size: clamp(1.5rem, 1.6vw, 4.2rem);
    max-width: 48ch;
    color: var(--text-color);
    margin-bottom: 1em;
}

#hero-li {
    list-style: none;

}

#hero-li a{
    padding: 1.5em;
    border-radius: 5px;
    border: none;
    background: var(--accent-color);
    color: var(--text-color);
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    flex: 0 0 auto;
    text-decoration: none;
}


.img-hero{
    margin-right: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-hero{
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}    

.product1 {
    flex: 2 1 60%; 
    height: 225px;
}

.product2 {
    flex: 1 1 35%;
    height: 225px;
}

.product3 {
    flex: 1 1 35%;
    height: 225px;
}

.product4 {
    flex: 2 1 60%;
    height: 225px;
}


@media (max-width: 900px){

    .container{
        padding-top: 1em;
    }

    .hero-text{
        display: grid;
        margin-left: 2em;
    }
}


@media (max-width: 499px){

    .hero-text{
        margin-left: 6.5em;
        text-align: left;
    }

    .hero-text p{
        justify-content: center;
        text-align: left;
        max-width: 100ch;
    }

    .product-hero{
        display: none;
    }

    .container{
        padding-top: 1em;
    }


    #hero-li{
        margin-left: 3.5em;
    }

    .hero-side{
        display: none;
    }
}

@media (max-width: 498px){

    #hero-li a{
       margin-left: 3em;
    }
}