nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--primary-color);
    border-bottom: 3px solid var(--accent-color);
}


.logo img{
    align-items: center;
    height: 4em;
    margin-left: 2em;
    cursor: pointer;
}


nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.5em;
    list-style: none;
    gap: 2em;                                     
}

nav ul a{
    font-size: medium;
    color: var(--text-color);
    text-decoration: none;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.4em 0.8em;
    background-color: var(--accent-color);
    border-radius: 5px;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
}

.contact li a{
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}


.contact:hover{
    background-color: var(--hover-color);
}

@media (max-width: 500px){
    .logo img{
        margin-left: 2em;
        height: 3em;
    }

    .contact{
        padding: 0.1em 0.3em;
        border-radius: 10px;
    }

    nav ul{
        margin-right: 2em;
    }
}