:root{
    --primary-color: #0f0e0e;
    --hover-color: #f86d6d;
    --accent-color: #e63820;
    --text-color: #ffffff;
    --bg-dark: #060606;
    --muted: #9a9a9a;
    --light: #ffffff;
    --card-bg: #ffffff;
    --card-radius: 12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    color: var(--primary-color);
}

body{
    font-size: 16px;
    background-color: var(--primary-color);
}
