:root {
    --primary-red: #E03C1F;
    --hover-red: #c73419;
    --orange: #ff6b35;
    --text-dark: #000000;
    --text-white: #ffffff;
    --bg-white: #ffffff;
}

html, body {
  background-color: #eef1f3;
  margin: 0;
  padding: 0;
}